@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a asp-action="Delete" asp-controller="Category">Kayıt Sil</a>

<a asp-action="Create" asp-controller="Category">Kayıt Ekle</a>

<a asp-action="Update" asp-controller="Category">Kayıt Güncelle</a>
